@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: rgb(248, 249, 250, 0.9);
    --dark: #343a40;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --background-color-header: rgb(249, 250, 251, 0.7);
}
html{
    background: url(../img/index/bg-green-right.png);
    background-repeat: no-repeat;
    background-size: 490px;
    background-position: 100% 0%;
    background-color: #dddcdc;
}
body{
    margin: 0;
    height: 100vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    min-height: 60vh;
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 80%;
    border-radius: 10px;
    background-color: var(--background-color-header);
    flex-direction: column;
}
.bookInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-top: 2rem;
}
.textInfo{
    margin-left: 5rem;
    font-family: 'Ubuntu';
}
.textInfo h2{
    font-family: 'Ubuntu';
    font-size: x-large;
}
.bookCover{
    width: 20%;
    margin-left: 2rem;
}
.boxStar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
    width: 100%;
}
.imgBook{
    width: 120px;
}
.starGreyBook{
    width: 120px;
    position: absolute;
}
.descriptionBox{
    margin: 2rem;
    font-family: 'Ubuntu';
    font-size: large;
}
.reviewBox{
    width: 100%;
    font-family: 'Ubuntu';
    margin-bottom: 2rem;
}
.reviewBox h3{
    margin-left: 2rem;
}
.starBox{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem 0 0 2rem;
}
.starBox img{
    position: absolute;
    width: 100px;
}
.basePorcent{
    width: 200px;
    height: 25px;
    margin-left: 140px;
    border-radius: 50px;
    background-color: var(--gray);
}
.goldPorcent{
    height: 25px;
    width: 120px;
    margin-left: 140px;
    border-radius: 50px;
    background-color: var(--yellow);
    margin-left: -200px;
    position: relative;
}
.starBox p{
    font-family: 'Ubuntu';
    font-weight: 600;
    margin-left: 100px;
}